@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(background.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child) {
    margin-right: 30px;
}

header .navigation a:hover {
    background: #fff;
}



.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a {
    position: relative;
    color: #ececec;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child) {
    margin-right: 60px;
}

.media-icons a:hover {
    transform: scale(1.5);
}

label {
    display: none;
}

#check {
    z-index: 3;
    display: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.2em;
    font-family: Montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    color: #cfc8c8;
}

.container .home-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
    background: rgb(67, 67, 179);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.container .home-btn:hover {
    background: rgb(113, 113, 238);
}

h1{
    color: rgb(234, 234, 240);
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.today-table{
    margin: 1em 0;
    min-width: 300px;
    background-color: #34495e;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.today-table tr{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-color: #46637f;
}

.today-table th,
.today-table td{
    text-align: left;
    margin: .5em 1em;
}

.today-table th{
    display: none;
}

.today-table td{
    display: block;
}

.today-table td:first-child{
    padding-top: .5em;
}

.today-table td::before{
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.today-table th,
.today-table td::before{
    color: #dd5;
}



/* Responsive styles*/

@media (max-width:960px) {



    header .navigation {
        display: none;
    }

    label {
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover {
        color: #fff
    }

    label .close-btn {
        display: none;
    }

    #check:checked~header .navigation {
        z-index: 2;
        position: fixed;
        background: rgba(133, 186, 236, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked~header .navigation a {
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked~header label .menu-btn {
        display: none;
    }

    #check:checked~header label .close-btn {
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn {
        position: absolute;
    }

    header .logo {
        position: absolute;
        bottom: -6px;
        left: 30px;
    }

    
}

@media (min-width:560px) {

    .today-table td::before{
        display: none;
    }

    .today-table th,
    .today-table td{
        display: table-cell;
        padding: .25em .5em;
        padding: 1em !important;
    }

    .today-table th:first-child,
    .today-table td:first-child{
        padding-left: 0;
    }

    .today-table th:last-child,
    .today-table td:last-child{
        padding-right: 0;
    }

   
    
}

@media (max-width:560px) {
    .container h1{
        font-size: 40px;
        text-align: center;
    }
   
    .today-table{
        margin: 12px;
    }
}

